# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

menuconfig PRESSURE
    bool "Pressure Sensor"
    help
      Pressure Sensor Drivers

if PRESSURE

choice PRESSURE_DRIVER
    prompt "Pressure Sensor Driver"

config PRESSURE_BMP390
    bool "Bosch BMP390"
    help
      Support for the Bosch BMP390 barometric pressure sensor.

config PRESSURE_BMP280
    bool "Bosch BMP280"
    help
      Support for the Bosch BMP280 barometric pressure sensor.

endchoice

module = DRIVER_PRESSURE
module-str = Pressure Sensor
source "src/fw/Kconfig.template.log_level"

endif # PRESSURE
